@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

.wrapper {
  padding: 0 20px;
  display: flex;
  gap: 30px;
  max-width: 100%;
  align-items: center;
}

img {
  margin: 50px 0;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
  line-height: 30px;
}

.name {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 60px;
}

h3 {
  font-size: 28px;
}

#time,
#day {
  font-weight: 300;
  font-size: 20px;
}

a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  float: right;
  margin-right: 20px;
  width: 100px;
  text-align: center;
  background: green;
  color: #fff;
}

@media (max-width: 480px) {
  .wrapper {
    display: grid;
  }

  img {
    width: 400px;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  a {
    margin-bottom: 30px;
  }

  .name {
    margin-bottom: 20px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    display: grid;
  }

  img {
    width: 450px;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  a {
    margin-bottom: 30px;
  }
}
